#root {
    max-width: 1510px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}


/* Meal Cards */

.Light {
    background-color: rgb(44, 163, 44);
    width: 65px;
    border-radius: .4em;
    text-align: center;
    margin-bottom: 5px;
}

.Medium {
    background-color: rgb(243, 180, 55);
    width: 65px;
    border-radius: .4em;
    text-align: center;
    margin-bottom: 5px;
}

.Heavy {
    background-color: rgb(229, 40, 40);
    color: white;
    width: 50px;
    border-radius: .4em;
    text-align: center;
    margin-bottom: 5px;
}