.body {
    background-color: #132130;
}

#root {
    max-width: 1810px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    background: #fffffff2;
    margin-top: 20px;
    min-height: 100vh;
    border-radius: 15px;
}


/* Meal Cards */

.Light {
    background-color: rgb(44, 163, 44);
    width: 65px;
    border-radius: .4em;
    text-align: center;
    margin-bottom: 5px;
}

.Medium {
    background-color: rgb(243, 180, 55);
    width: 65px;
    border-radius: .4em;
    text-align: center;
    margin-bottom: 5px;
}

.Heavy {
    background-color: rgb(229, 40, 40);
    color: white;
    width: 50px;
    border-radius: .4em;
    text-align: center;
    margin-bottom: 5px;
}